/* Add application styles & imports to this file! */
.placeholder-image {
  width: 85px;
  height: 90px;
  padding: 5px 0px;
}

.parent {
  display: grid;
  grid-template-columns: 0.15fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
